# Synthesis Artifacts
*.bin
*.asc
*.fs
*.fs_json
*.config
*.bit

# Build directories
build/
venv/

# Logs
*.log
*.vcd

# Tool-specific
.apio/
spu_formal/**/engine_*/
spu_formal/**/model/
spu_formal/**/*.xml
spu_formal/**/*.sqlite

# OS-specific
.DS_Store
*.swp
