# OrangeCrab SPU-13 Constraints
# v3.4.3 "Physical Metabolic Mapping"

LOCATE COMP "clk_48mhz" SITE "A9";
IOBUF PORT "clk_48mhz" IO_TYPE=LVCMOS33;

LOCATE COMP "btn_rst_n" SITE "V17";
IOBUF PORT "btn_rst_n" IO_TYPE=LVCMOS33;

LOCATE COMP "led_red"   SITE "V18";
LOCATE COMP "led_green" SITE "T18";
LOCATE COMP "led_blue"  SITE "R18";

# UART (Strike entry)
LOCATE COMP "uart_tx" SITE "N17"; 
LOCATE COMP "uart_rx" SITE "M18"; 
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33;

# Proprioceptive Bias (Nervous Antenna)
LOCATE COMP "bias_in" SITE "L18";
IOBUF PORT "bias_in" IO_TYPE=LVCMOS33;

# I2C OLED (Visual Reification)
LOCATE COMP "oled_scl" SITE "G15";
LOCATE COMP "oled_sda" SITE "F15";
IOBUF PORT "oled_scl" IO_TYPE=LVCMOS33;
IOBUF PORT "oled_sda" IO_TYPE=LVCMOS33;

# Metabolic Sense (12-bit Shunt ADC)
LOCATE COMP "adc_in[0]"  SITE "L4";
LOCATE COMP "adc_in[1]"  SITE "N3";
LOCATE COMP "adc_in[2]"  SITE "N4";
LOCATE COMP "adc_in[3]"  SITE "H4";
LOCATE COMP "adc_in[4]"  SITE "G4";
LOCATE COMP "adc_in[5]"  SITE "T17";
LOCATE COMP "adc_in[6]"  SITE "C1";
LOCATE COMP "adc_in[7]"  SITE "C2";
LOCATE COMP "adc_in[8]"  SITE "R17";
LOCATE COMP "adc_in[9]"  SITE "B1";
LOCATE COMP "adc_in[10]" SITE "K4";
LOCATE COMP "adc_in[11]" SITE "N2";

IOBUF PORT "adc_in[0]"  IO_TYPE=LVCMOS33;
IOBUF PORT "adc_in[1]"  IO_TYPE=LVCMOS33;
IOBUF PORT "adc_in[2]"  IO_TYPE=LVCMOS33;
IOBUF PORT "adc_in[3]"  IO_TYPE=LVCMOS33;
IOBUF PORT "adc_in[4]"  IO_TYPE=LVCMOS33;
IOBUF PORT "adc_in[5]"  IO_TYPE=LVCMOS33;
IOBUF PORT "adc_in[6]"  IO_TYPE=LVCMOS33;
IOBUF PORT "adc_in[7]"  IO_TYPE=LVCMOS33;
IOBUF PORT "adc_in[8]"  IO_TYPE=LVCMOS33;
IOBUF PORT "adc_in[9]"  IO_TYPE=LVCMOS33;
IOBUF PORT "adc_in[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "adc_in[11]" IO_TYPE=LVCMOS33;
