# ULX3S Physical Constraints (v3.1.10)
# Target: Lattice ECP5-85F

# 1. System Clock (25MHz)
LOCATE COMP "clk_25mhz" SITE "G2";
IOBUF PORT "clk_25mhz" IO_TYPE=LVCMOS33;

# 2. Buttons
LOCATE COMP "btn[0]" SITE "D6"; # PWR
LOCATE COMP "btn[1]" SITE "R1"; # UP
LOCATE COMP "btn[2]" SITE "T1"; # DOWN
IOBUF PORT "btn[0]" IO_TYPE=LVCMOS33;

# 3. Status LEDs
LOCATE COMP "led[0]" SITE "B2";
LOCATE COMP "led[1]" SITE "C2";
LOCATE COMP "led[2]" SITE "C1";
LOCATE COMP "led[3]" SITE "D2";
LOCATE COMP "led[4]" SITE "D1";
LOCATE COMP "led[5]" SITE "E2";
LOCATE COMP "led[6]" SITE "E1";
LOCATE COMP "led[7]" SITE "H3";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;

# 4. USB-FTDI UART
LOCATE COMP "ftdi_tx" SITE "L4"; # ECP5 TX -> FTDI RX
LOCATE COMP "ftdi_rx" SITE "M1"; # FTDI TX -> ECP5 RX
IOBUF PORT "ftdi_tx" IO_TYPE=LVCMOS33;
IOBUF PORT "ftdi_rx" IO_TYPE=LVCMOS33;
