# SPU-13 Physical Constraint File: Laminar v1
# Mapping the "Sip" to the Silicon (iCESugar)

# Main Clock (12MHz) - The Pulse of the Lattice
set_io clk 35

# The Quadray Outputs (PMOD Pins)
# Connecting the "Sovereign Mind" to the Oscilloscope
set_io leds[0] 4  # Axis A
set_io leds[1] 2  # Axis B
set_io leds[2] 48 # Axis C
set_io leds[3] 45 # Axis D

# The Reset Button (Back to the Nothing)
set_io reset 10
