# SPU-13 Unified Constraints: Tang Nano 20k (GW2AR-18)
# v1.2 HAL Mapping

IO_LOC "clk_phys" 4;
IO_PORT "clk_phys" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "rst_phys_n" 88;
IO_PORT "rst_phys_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "led_sat_red" 15;
IO_LOC "led_sat_grn" 16;
IO_LOC "led_sat_blu" 17;

IO_LOC "uart_phys_tx" 69;
IO_PORT "uart_phys_tx" IO_TYPE=LVCMOS33;

IO_LOC "uart_phys_rx" 70;
IO_PORT "uart_phys_rx" IO_TYPE=LVCMOS33;

IO_LOC "oled_scl" 73;
IO_PORT "oled_scl" IO_TYPE=LVCMOS33;

IO_LOC "oled_sda" 74;
IO_PORT "oled_sda" IO_TYPE=LVCMOS33;

# --- THE SOUL (SPI Flash) ---
IO_LOC "flash_cs_n" 58;
IO_LOC "flash_sck"  59;
IO_LOC "flash_mosi" 60;
IO_LOC "flash_miso" 62;
